.log {
  display: block;
  font-size: 25px;
  margin-bottom: 30px;
}
.log_input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
  margin: 5px 0px 0;
  border: 1px solid #a3a3a3;
  padding: 10px;
  border-radius: 2px;
  background: #e0f0f0;
  outline: none;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: transform ease-in 0.1s;
}
.log_input:focus {
  border: 1px solid rgb(235, 170, 49);
  transform: scale(1.05);
}
